// newmsg
.breadcrumb .item-link{
    text-decoration:none;
    color: $color2;
    &:hover{
        color: $primary !important;
    }
 }
 .new-msg-list{
   .new-msg-title{
     color: $white;
     background-color: $primary;
   }
    .new-msg-item{
      text-decoration: none;
      background-color: $color3;
      color: $black;
      &:hover{
          color: $white;
          background-color: $primary;
      }
    }
   .msgactive{
      color:$white !important;
      background-color: $primary !important;
      &:focus{
         color:$white !important;
         background-color: $primary !important;
      }
   }
}
 .all-msg-title{
    border-bottom: 1px solid $color4;
 }
 .mobile-message{
    display: flex;
    flex-direction: column;
    .mobile-message-item{
       max-width: 390px;
       overflow: hidden;
       text-overflow: ellipsis;
       white-space: nowrap;
    }
 }