
  // carousel
  .carousel-caption {
    background-color: rgba(0, 0, 0, .6);
  }
  
  .carousel-caption {
    top: 35%;
    bottom: auto;
  }

  // product card
  .product-category{
    text-align: center;
    .category-active{
      box-shadow: 0px 0px 15px $primary; 
    }
    a{
      color: $white;
      position: relative;
      display: inline-block;
      vertical-align: top;
      width: 300px;
      height: 150px;
      border-radius: 5px;
      overflow: hidden;
      box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
      div{
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        transform:scale(1,1);
        transition: all 1s ease-out;
      }
      span{
        position: absolute;
        transform: translate(-50%,-50%);
        top: 50%;
        left: 50%;
      }
      &:focus,&:hover{
        color: $white !important;
      }
      &:hover{
        div{
          transform:scale(1.2,1.2);
        }
      }
    }
  }
  .product-search{
    position: relative;
    width: 50%;
    @include pad(){
      width: auto;
    }
    .product-search-clear{
      position: absolute;
      top: 0;
      right: 60px;
    }
  }
  .product-item{
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  }
  .product-item-img {
    position: relative;
    padding-top: 70%; 
    background-size: cover; 
    background-position: center;
    overflow: hidden;
    @media (min-width:768px) {
      &:hover{
        .product-item-link{
          opacity: 1;
          transform: translateY(0);
        }
      }
      .product-item-link{
        opacity: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        transform: translateY(50%);
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        background-color: rgba(0, 0, 0, .6);
        transition: 0.5s;
      }
    }
  }
  .product-item-content {
    display: flex;
    flex-direction: column;
    padding: 20px;
    flex: 1 0 auto;
    .product-item-title,.product-item-price {
      flex: 0 1 auto;
    }
    .product-item-title{
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    .product-item-price{
      display: flex;
      justify-content: space-between;
      align-items: baseline;
    }
    .product-item-text {
      flex: 1 0 auto;
    }
  }
  .product-item-footer{
    padding: 15px;
    flex: 0 1 auto;
    .addbtn{
      box-shadow: 3px 4px 2px rgba(0, 0, 0, 0.2);
      width: 100%;
      @include pad(){
        width: auto;
      }
    }
  }
  .product-more{
    color: $white;
    border: 1px solid $white;
    padding: 0.5rem 1rem;
    border-radius: 3px;
  }

  .smallcart{
    position: fixed;
    background: #FFC529;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.65);
    border-radius: 50%;
    width: 70px;
    height: 70px;
    z-index: 1100;
    bottom: 10px;
    right: 20px;
  }
  .btn .number {
    position: absolute;
    background: $primary;
    color: $white;
    border-radius: 20px;
    padding: 5px 12px;
    top: -30px;
    right: -30px;
  }
  .cart {
    position: relative;
  }
  .dropdown-menu {
    top: -330px;
    width: 320px;
    height: 320px;
    right: -20px;
    @include media-breakpoint-up(lg) {
      width: 400px;
      right: -10px;
    }
  }

  // top product
  .hot-product-icon{
    position: absolute;
    top: 0;
    left: 0;
    border-top: 70px solid $danger;
    border-right: 70px solid transparent;
    border-bottom: 0 solid transparent;
  }
  .hot-product-title{
    position: absolute;
    transform: rotate(-45deg);
    color:$white;
    top: 10px;
    left: 5px;
  }